<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=/index.html">
    <title>Gesto de Reclamos - Ticketera</title>
    <script type="module" crossorigin src="/assets/index.edceb4b2.js"></script>
    <link rel="stylesheet" href="/assets/index.6a515d32.css">
  </head>
  <body class="bg-gray-100 h-screen">
    <h3>Muchas gracias!! Recibimos tus datos de contacto </h3>
    <p>En breve recibiras un mail para terminar con el alta de usuario</p>
    <div id="root"></div>
    
  </body>
</html>
